// ***********************************
// VARIABLES
// ***********************************
$bg-black: #000 !default;
$bg-white: #fff !default;

$colorWhite: #fff !default;
$colorFontNormal: #212529 !default;

$dark-bg: #222531 !default;

$fontm: Montserrat, sans-serif !default;
$fontbase: 16px !default;
